$margin-large:30px;
$margin-medium:20px;
$margin-small:10px;
$padding-large:30px;
$padding-medium:20px;
$padding-small:10px;
$container-width:960px;



.main {

    &__logo {

    }

    &__menu {

     }

}


.speciality {
    margin: 30px auto;
    max-width: 960px;

    background-color:white;
    display: block;
    &__image {
        width: 100%;
        box-shadow: 0 1rem 3rem rgba($color-black, .3);
        border-radius:2px;
    }

    &__title {
        margin-top: 30px;
        padding-left: 30px;
    }

    &__paragraph {
            // font-size: 1.4rem;
            padding-left: 30px;
            &:not(:last-child) {
                // margin-bottom: 2rem;
                margin-top: 30px;

            }
            &:last-child {
                // margin-bottom: 4rem;
                  margin-top: 30px;
            }

            
        }
}


.individual {
    margin: 30px auto;
    width: 960px;

    background-color:white;
    display: block;
    &__image {
        width: 100%;
        box-shadow: 0 1rem 3rem rgba($color-black, .3);
        border-radius:2px;
    }

    &__title {
        margin-top: 30px;
        padding-left: 30px;
    }

    &__paragraph {
       
            // font-size: 1.4rem;
            padding-left: 30px;
            &:not(:last-child) {
                // margin-bottom: 2rem;
                margin-top: 30px;

            }
            &:last-child {
                // margin-bottom: 4rem;
                margin-top: 30px;
            }
            
        }
}


a:link, 
a:visited {
    color:currentColor;
    text-decoration: underline;
    font-weight: 400;

}



.payment {
    margin: 30px auto;
    width: 960px;
    display:flex;

    background-color:white;
    display: block;
    &__image {
        width: 100%;
        box-shadow: 0 1rem 3rem rgba($color-black, .3);
        border-radius:2px;
    }

    &__title {
        margin-top: 30px;
        padding-left: 30px;
    }

    &__paragraph {
            font-size: 1.4rem;
            padding-left: 30px;

            &:not(:last-child) {
                margin-top: 30px;
                margin-bottom: 3rem;

            }
            &:last-child {
                margin-bottom: 4rem;
            }
        }
}

.row-grid {

    width: 960px;
    display:grid;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;

    grid-gap: 30px;

}


.feature {
    backface-visibility: hidden;
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding:4rem;
    
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transition :all .3s ease-out;
    // transform: skewY(7deg);
    // border: 2px solid black;
    &__icon {
        font-size :5rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
    &:hover {
        // transform: translateY(-1.5rem) scale(1.03);
        -webkit-filter: brightness(100%); /* Safari 6.0 - 9.0 */
        filter: brightness(100%);
        
    }
}


.about__name {
    font-weight: 600;
    // text-transform: uppercase;
}


.header {
   
    position: relative;
    &__nav {
        background: lightgray;
        background-size: cover;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        text-align: center;
        box-shadow: 0px 0px 2px black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;

    }

    &__logo {
        
        // padding:$padding-small;
        margin: auto 0;
        margin-left:20px;
        display: flex;
        // background-color: red;
        
    }



    &__menu {
        padding:$padding-small;
        display: inline-block;
    }

    &__list {
        list-style: none;
        text-decoration: none !important;
    }

    &__item {
        display: inline-block ;
        padding:15px 20px;
        text-transform: uppercase;
        text-decoration: none !important;
        color: black;
        // font-size: 2rem;
        font-weight: 700;
        // font-weight: bolder;
        // color:white;
        
    }
}





/* Navigation */ 

.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        // border-radius: 50%;
        position:fixed;
        top:0rem;
        right:0rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .3);
        text-align: center;
        cursor: pointer;

        // @include respond(tab-port) {
        //     top:5rem;
        //     right:5rem;
        // }
        // @include respond(phone) {

        //     top:4rem;
        //     right:4rem;
        // }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        // border-radius: 50%;
        background-color: white;
        position: fixed;
        top: 0rem;
        right: 0rem;
        z-index: 1000;
        // background-image: radial-gradient($color-primary, $color-3-dark);
        transition: transform .8s ease-out;
        // transform: scale(80);
        // @include respond(tab-port) {
        //     top:5.5rem;
        //     right:5.5rem;
        // }
        // @include respond(phone) {
        //     top:4.5rem;
        //     right:4.5rem;
        // }
    }

    &__nav {
        height: 100vh;
        // width: 100%;
        position:fixed;
        top:0;
        right:0;
        z-index: 1500;
        text-align: center;
        opacity: 0;
        width: 0;
        // border:2px solid black;
        transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55);//ease-out;//cubic-bezier(0.86,0,0.07,1);
        
    }

    &__list {
        // Center align on a div
        position: absolute;
        top:50%;
        left:50%;
        width:100%;
        transform: translate(-50%, -50%);        
    }

    &__item {
        // display: inline;
        list-style: none;
        margin:1rem;
    }

    &__link {

        &:link, 
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;
            // sideways transition effect on nav button
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
            background-size: 250%;
            transition: all .3s ease-out;
            backface-visibility: hidden;
            
            span  {
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position : 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        

    }


    // functionality
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    

    //icon
    &__icon {

        position: relative;
        margin-top: 3.4rem;
        
        &, 
        &::before, 
        &::after {
            width: 3rem;
            height:3px;
            background-color: $color-3-dark;
            display: inline-block;
        }
        &::before, 
        &::after {
            content: "";
            position: absolute;
            left:0;
            transition: all 0.2s;
        }
        &::before {
            top : -.8rem;
        }
        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top:0;
        transform: rotate(135deg) ;
    }

    &__checkbox:checked + &__button &__icon::after {
        top:0;
        transform: rotate(-135deg) ;
    }


 
}