
*,
*::after,
*::before {
    /* Remove default margin and padding*/
    margin:0px;
    padding: 0px;
    /* Box sizing - border box  - Border and padding are not added to total width or heigth of box*/
    box-sizing: inherit;
}

html {
    font-size:75%;
    // font-size: 80%;
    // 75%;
    @include respond(big-desktop) {
        font-size: 62.5% ; 
    }
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(phone) {
        font-size: 40%;
    }

}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color:$color-white;
}