
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-dark-grey:#777;
$color-black:#000;
$color-white:#fff;
$light-grey:#f7f7f7;
$lighter-grey:#eee;

$color-dark-grey2:#999;
$color-dark-grey3:#333;

$color-2-light:#ffb900;
$color-2-dark:#ff7730;
$color-3-light:#2998ff;
$color-3-dark:#5643fa;


// Font
$default-font-size:1.6rem;


$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


$tablet-landscape-breakpoint:1200px;
$tablet-potrait-breakpoint:900px;
$mobile-breakpoint:600px;

